<div class="panel">
  <div class="form-container">
    <form #gearFrom="ngForm" (ngSubmit)="submitGearFormWeather(gearFrom)">
      <h1>Find Your Gear!</h1>
      <input
        ngModel
        name="location"
        type="text"
        placeholder="Enter nearest city! Ex: Detroit, 48202"
      />
      <div class="select-container">
        <div class="selectdiv material-icons">
          <select ngModel name="activity">
            <option selected> Select an activity </option>
            <option value="Camp-Hike">Camping/Hiking</option>
            <option value="Urban Travel">Urban Travel</option>
            <option value="summer">Summer Sports</option>
            <option value="winter">Winter Sports</option>
          </select>
        </div>
      </div>
      <button class="submit-form">Submit</button>
    </form>
  </div>
</div>
<div class="results-container">
  <div class="a">
    <a (click)="setMens()">Mens</a>|<a (click)="setWomens()">Womens</a>
  </div>
  <div class="gear-results">
    <div class="stuff" *ngIf="mensDisplay === true">
      <div class="things" *ngFor="let gear of shownGearMens; index as i">
        <div class="mens-gear">
          <h2>{{ gear.title }}</h2>
        </div>
        <div><img src="/assets/gear-images/{{ gear.image }}" alt="" /></div>
        <a class="add-to" (click)="addToPackingList(gear)" >Add to Packing List</a>
      </div>
    </div>
      <div *ngIf="mensDisplay === false">
        <div *ngFor="let gear of shownGearWomens; index as i" >
          <div class="womens-gear">
            <h2>{{ gear.title }}</h2>
          </div>
          <div><img src="/assets/gear-images/{{ gear.image }}" alt="" /></div>
          <a class="add-to">Add to Packing List</a>
        </div>
        <div><img src="/assets/gear-images/{{ gear.image }}" alt="" /></div>
      </div>
    </div>
  </div>
</div>
