<div class="panel">
  <div class="form-container">
    <form action="">
      <h1>Find Your Gear!</h1>
      <input name="location" type="text" placeholder="Enter nearest city! Ex: Detroit, 48202">
      <div class="select-container">
        <div class="selectdiv material-icons">
        <select>
          <option selected> Select an activity </option>
          <option>Camping/Hiking</option>
          <option>Urban Travel</option>
          <option>Summer Sports</option>
          <option value="">Winter Sports</option>
        </select>
        </div>
      </div>
    </form> 
  </div>
</div>