<div class="panel">
  <div class="form-container">
    <form action="">
      <h1>Find Your Gear!</h1>
      <input
        name="location"
        type="text"
        placeholder="Enter nearest city! Ex: Detroit, 48202"
      />
      <div class="select-container">
        <div class="selectdiv material-icons">
          <select name="activity">
            <option selected> Select an activity </option>
            <option>Camping/Hiking</option>
            <option>Urban Travel</option>
            <option>Summer Sports</option>
            <option value="">Winter Sports</option>
          </select>
        </div>
      </div>
      <button class="submit-form">Submit</button>
    </form>
  </div>
</div>
<div class="results-container">
  <div class="gear-results">
    <div *ngFor="let gear of gearMens; index as i">
      <div class="mens-gear">
        <h2>{{ gear.title }}</h2>
      </div>
      <div><img src="/assets/gear-images/{{ gear.image }}" alt="" /></div>
    </div>
    <div *ngFor="let gear of gearWomens; index as i">
      <div class="womens-gear">
        <h2>{{ gear.title }}</h2>
      </div>
      <div><img src="/assets/gear-images/{{ gear.image }}" alt="" /></div>
    </div>
  </div>
</div>
