.form-container {
  display: flex;
  flex-direction: column;
}

form {
  width: 50%;
  padding: 50px 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(24, 51, 29, 0.7);
  color: #f4fff7;
  justify-content: center;
  margin-top: 15%;
  border-radius: 5px;
}

input {
  min-width: 200px;
  width: 100%;
  text-align: center;
  background-color: #f4fff7;
  padding: 10px;
  border: 1px solid #b1b2b5;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

input::placeholder {
  color: black;
}

.select-container {
  width: 100%;
}

.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  /* float: left; */
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
}

.selectdiv:after {
  font-family: "Material Icons";
  content: "code";
  font: 17px;
  color: #5a8462;
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #5a8462;
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: black;
  background-color: #f4fff7;
  border: 1px solid #cccccc;
  word-break: normal;
  cursor: pointer;
  content: "Select an Activity";
}

.submit-form {
  padding: 10px 30px;
  background-color: #f4fff7;
  cursor: pointer;
  border-radius: 5px;
}

.submit-form:hover {
  border: 2px solid #ff6800;
  color: #ff6800;
}

.gender {
  cursor: pointer;
}

.set-link {
  cursor: pointer;
}

.add-to {
  cursor: pointer;
  border: 1px solid #ff6800;
  background-color: #ff6800;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 3px 2px;
  margin-top: 50px;
}

.add-to:hover {
  background-color: rgba(24, 51, 29, 0.726);
  border: none;
  transition: 0.3s;
}

.results-container {
  background-color: #5a8462;
}

.things {
  background-color: white;
  width: 300px;
  border-radius: 5px;
  margin-top: 15px;
  height: 410px;
  max-height: 410px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
}
img {
  margin: auto;
  width: 300px;
}

.stuff {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.a {
  color: white;
  font-size: 20px;
}
a {
  margin: 5px;
}

.a a:hover {
  color: #18331d;
  transition: 0.3s;
}

h2 {
  text-align: center;
}

.gear-description{
  background-color: rgba(50,50,50,0.9);
  color: white;
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  font-size: 14pt;
}

.image-description{
  position: relative;
}
.displayWeather {
  color: white;
  margin: 5px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
