<main>
  <div class="call-to-action">
    <h1>Welcome to Gear.it</h1>
    <a routerLink="/gear-form" class="find-gear">FIND YOUR GEAR</a>
  </div>

  <img
    class="hero_image"
    src="https://images.pexels.com/photos/450441/pexels-photo-450441.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    alt="Man and woman sitting outside with a waterfall in the background."
  />
</main>

<div>
  <article>
    <div class="omsText">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab temporibus
        rerum ut magni error! Molestias nemo suscipit doloremque vel repellendus
        quam dolores aut cupiditate impedit, quae quibusdam soluta officiis
        odit.
      </p>
    </div>
    <div class="omsImage">
      <img
        src="https://www.urbansplash.co.uk/images/placeholder-16-9.jpg"
        alt=""
      />
    </div>
  </article>
</div>

<footer></footer>
