.parallax {
  background: linear-gradient(rgba(24, 51, 29, 0.8), rgba(0, 0, 0, 0)),
    url("https://images.pexels.com/photos/450441/pexels-photo-450441.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stuff {
  position: fixed;
  /* border: 1px solid magenta; */
  color: white;
  height: auto;
  text-align: center;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  /* border: 1px solid magenta; */
  width: 80%;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48pt;
  margin: 0px 0px 10px 0px;
}

.find-gear {
  padding: 8px;
  border: 3px solid #ff6800;
  border-radius: 10px;
  background-color: #ff6800;
  color: white;
  cursor: pointer;
  z-index: 0;
}

.overlay {
  position: relative;
  z-index: 999;
  background-color: white;
}
article {
  z-index: 300;
  padding-top: 10px;
}
.omsImage img {
  width: 100%;
}

.omsText {
  text-align: center;
  color: rgba(24, 51, 29, 0.8);
}

.omsText p {
  background-color: white;
}

.omsBorder {
  border-top: 1px solid #ff6800;
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
