<main>
  <div class="parallax">
    <div class="stuff">
      <img
        class="logo-main"
        src="/assets/gear-it-logo.svg"
        alt="gear-it logo"
      />

      <h1>Welcome to Gear.it</h1>
      <a routerLink="/gear-form" class="find-gear">FIND YOUR GEAR</a>
    </div>
  </div>
</main>

<div class="overlay">
  <article>
    <div class="omsText">
      <p>
        Outfitting you with the gear you need for your next trip. Simply plug in
        the city you're going to and we'll base your gear on the current
        temperature there.
      </p>
      <!-- <div class="omsBorder"></div> -->
      <div class="omsImage">
        <img
          src="https://images.pexels.com/photos/3014912/pexels-photo-3014912.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
          alt=""
        />
      </div>
    </div>
  </article>
</div>
