<main>
  <div class="parallax">
    <div class="stuff">
      <img src="/assets/gear-it-logo-75.png" alt="gear-it logo" />

      <h1>Welcome to Gear.it</h1>
      <a routerLink="/gear-form" class="find-gear">FIND YOUR GEAR</a>
    </div>
  </div>
</main>

<div class="overlay">
  <article>
    <div class="omsText">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab temporibus
        rerum ut magni error! Molestias nemo suscipit doloremque vel repellendus
        quam dolores aut cupiditate impedit, quae quibusdam soluta officiis
        odit.
      </p>
      <!-- <div class="omsBorder"></div> -->
      <div class="omsImage">
        <img
          src="https://images.pexels.com/photos/3014912/pexels-photo-3014912.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
          alt=""
        />
      </div>
    </div>
  </article>
</div>
