.parallax {
  background: linear-gradient(rgba(24, 51, 29, 0.8), rgba(0, 0, 0, 0)),
    url("https://images.pexels.com/photos/450441/pexels-photo-450441.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stuff {
  position: fixed;
  /* border: 1px solid magenta; */
  color: white;
  height: auto;
  text-align: center;
  left: 50%;
  top: 29%;
  transform: translateX(-50%);
  /* border: 1px solid magenta; */
  width: 80%;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48pt;
  margin: 0px 0px 10px 0px;
}

.find-gear {
  padding: 8px;
  border: 3px solid #ff6800;
  border-radius: 10px;
  background-color: #ff6800;
  color: white;
  cursor: pointer;
  z-index: 0;
}

.overlay {
  position: relative;
  z-index: 999;
  background-color: white;
}
article {
  z-index: 300;
  padding-top: 10px;
}
.omsImage img {
  width: 100%;
}

.omsText {
  text-align: center;
  color: rgba(24, 51, 29, 0.8);
}

.omsText p {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.omsBorder {
  border-top: 1px solid #ff6800;
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .parallax {
    min-height: 100vh;
  }

  .stuff {
    top: 42%;
  }

  .omsImage {
    display: inline-block;
    width: 100vw;
  }

  .omsImage img {
    display: inline-block;
    height: 100%;
  }
  .omsText {
    display: flex;
    width: 100%;
  }

  .omsText p {
    width: 100%;
    padding-top: 11%;
    font-size: 20px;
    margin-right: 30px;
    padding-bottom: 0px;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  article {
    padding: 0;
  }
}
