<html>
  <body>
    <div class="lines"></div>
    <div class="listArea">
      <h1>My Packing List</h1>
      <ul class="list">
        <p *ngIf="listItems.length === 0">Your list is empty!</p>
        <li *ngFor="let item of listItems">
          <button
            class="box"
            *ngIf="!item.complete"
            (click)="completeItem(item)"
          >
            <i class="material-icons">
              check_box_outline_blank
            </i>
          </button>
          <span [ngClass]="{ completeItem: item.complete }">{{
            item.item
          }}</span>
          <button class="check" *ngIf="item.complete" (click)="completeItem(item)">
            <i class="material-icons">
              check_box
            </i>
          </button>
          <button class="delete" (click)="delete(item)">
            <i class="material-icons">
              delete
            </i>
          </button>
        </li>
      </ul>
      <form (ngSubmit)="addItem()">
        <input
          type="text"
          name="add"
          placeholder="Add an item"
          [(ngModel)]="newItemText"
          required
        />
        <div class="addButton">
          <button
            class="add"
            type="submit"
            [disabled]="newItemText.length === 0"
          >
            <i class="material-icons" style="font-size: 35px">
              add_box
            </i>
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
