@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

.hContainer h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #5a8462;
}

.listArea {
  background-color: #f0e0bf;
  text-indent: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
  width: 60%;
  height: auto;
  position: relative;
  color: rgb(90, 90, 90);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

html,
body {
  background-color: #5a8462;
}

body {
  padding-top: 60px;
}

.list {
  color: rgb(90, 90, 90);
  list-style: none;
  padding: 0px;
}

li {
  border-top: 1px solid rgb(182, 180, 180);
  padding: 10px;
}

.listArea::before {
  content: "";
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgba(255, 0, 0, 0.4);
}

.add {
  border: none;
  background-color: #f0e0bf;
  color: #5a8462;
  float: right;
  cursor: pointer;
}

.addButton {
  position: relative;
  bottom: 2px;
}

.add:hover {
  color: #ff6800;
}

form {
  display: inline-flex;
  width: 100%;
}

input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-left: 55px;
  margin-bottom: 10px;
}

.box {
  float: left;
  border: none;
  background-color: #f0e0bf;
  padding: 0px;
  color: #18331d;
  cursor: pointer;
}

.box:hover {
  color: #5a8462;
}

.delete {
  float: right;
  border: none;
  background-color: #f0e0bf;
  padding: 0px;
  color: #18331d;
  cursor: pointer;
}

.delete:hover {
  color: #ff6800;
}

.completeItem {
  text-decoration: line-through;
}
.check {
  float: left;
  border: none;
  background-color: #f0e0bf;
  color: #ff6800;
  padding: 0px;
  cursor: pointer;
}
