body {
  background-color: #f4fff7;
  height: 100vh;
}
.hContainer {
  width: 100vw;
  position: fixed;
  z-index: 999;
  background: #5a8462;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  padding-top: 60px;
  margin: 0;
  color: #f4fff7;
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  text-align: center;
}
.one img {
  height: 250px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
}

.one {
  position: relative;
  top: 150px;
}

.profile {
  background-color: #f4fff7;
  width: 50%;
  margin: auto;
}

i {
  font-size: 250px;
}

.info {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgba(24, 51, 29, 0.8);
  margin-bottom: 50px;
}
.info h1 {
  color: #ff6800;
  padding: 0px;
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .profile {
    display: inline-block;
    width: 30%;
    height: 250px;
    margin-top: 25px;
  }
  .one {
    display: inline-block;
  }
  img {
    display: inline-block;
  }
}
