.navigation {
  display: flex;
  position: fixed;
  margin-left: 1.5%;
  margin-right: 1%;
  justify-content: space-between;
  width: 97.15%;
  padding-top: 10px;
}

a {
  text-decoration: none;
  padding-left: 28px;
  font-family: "Bebas Neue", sans-serif;
}
.links a {
  color: white;
  font-size: 20px;
}

.links:visited a {
  color: #18331d;
}

.links a:hover {
  color: #58a462;
  transition: 0.3s;
}

.logo {
  cursor: pointer;
  color: white;
}
