<header>
  <nav class="navigation">
    <div routerLink="/home" class="logo">
      <img
        src="/assets/gear-it-logo-35.png"
        alt="gear-it logo that links back to homepage"
      />
    </div>
    <div class="links">
      <a routerLink="/gear-form">Find Gear</a>
      <a  routerLink="/packing-list" >Packing List <span>({{counter}})</span></a>
      <a routerLink="/about-us">About Us</a>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<!-- <app-display-weather></app-display-weather> -->
