<header>
  <nav class="navigation">
    <div routerLink="/home" class="logo">
      <img
        class="logo-nav"
        src="/assets/gear-it-logo.svg"
        alt="gear-it logo that links back to homepage"
      />
    </div>
    <div class="links">
      <a routerLink="/gear-form">Find Gear</a>
      <a routerLink="/packing-list"
        >Packing List <span>({{ counter }})</span></a
      >
      <a routerLink="/about-us">About Us</a>
    </div>
  </nav>
</header>

<div
  [@routeAnimations]="
    o && o.activatedRouteData && o.activatedRouteData['animation']
  "
>
  <router-outlet #o="outlet"></router-outlet>
</div>

<!-- <app-display-weather></app-display-weather> -->
