body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

.panel {
  background: url("https://media.milanote.com/p/images/1IDfhv1imP6P4P/0C3/bonfire-2108709.jpg");
  background-size: cover;
  height: 100vh;
}