body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

.panel {
  background: linear-gradient(rgba(24, 51, 29, 0.8), rgba(0, 0, 0, 0)),
    url("../src/assets/gear-form-background.jpg");
  background-size: cover;
  height: 100vh;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
